<footer>
  <div class="cta">
    <div class="wrapper">
      <a href="#" class="button call-to-action">
        <img src="/images/logo.svg" alt="logo" />
      </a>
    <div class="clearfix"></div>
    </div>
  </div>
  <div class="nav">
    <div class="wrapper">
      <div class="name">
        <h1>#CodeNation &#9679; 2016 &#9679; In God We Trust</h1>
      </div>
      <div class="navigation">
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="http://emineysprince.com/#about">about</a></li>
          <li><a href="http://emineysprince.com/#blog">blog</a></li>
        </ul>
      </div>
      <div class="copyright"></div>
    </div>
  </div>
</footer>
