<p>Hello, i am</p>
<a class="link link-zack" href="#"><span class="animated fadeInLeft">Prince</span> <span class="animated slideInLeft">Emineys</span></a>
<p class="baseline">A Rubyst <em>&amp;</em>Developer from Tanzania</p>
<a class="button round" href="#about">About me <em>&amp;</em> contact</a>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="social">
  <ul>
    <li><i class="fa fa-inbox"></i><a href="#">emineysprince@gmail.com</a></li>
    <li><i class="fa fa-twitter"></i><a href="https://twitter.com/emineysprince">twitter/emineysprince</a></li>
  </ul>
</div>
<a class="button round view-project" href="#">view my skills</a>

