<p>Hello, i am</p>
<a class="link link-zack" href="#"><span class="animated fadeInLeft">Prince</span> <span class="animated slideInLeft">Emineys</span></a>
<p class="baseline">A Rubyst <em>&amp;</em> Developer from Tanzania</p>
<a class="button round" href="#about">About me <em>&amp;</em> contact</a>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="social1">
  <ul class="soc">
    <li><a class="soc-twitter" href="http://twitter.com/emineysprince" target="_blank"></a></li>
    <li><a class="soc-facebook" href="http://facebook.com/emineysprince" target="_blank"></a></li>
    <li><a class="soc-google" href="https://plus.google.com/+PrinceEmineys" target="_blank"></a></li>
    <li><a class="soc-instagram" href="http://instagram.com/emineysprince" target="_blank"></a></li>
    <li><a class="soc-github soc-icon-last" href="http://github.com/emineysprince" target="_blank"></a></li>
    
    
<!-- 
 
   <ul>
    <li><span class="ig-follow" data-id="48d24efc5d" data-handle="emineysprince" data-count="true" data-size="small" data-username="true"></span></li>
    <li><div class="fb-like" data-href="https://facebook.com/emineysprince" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div></li>
  </ul>
   
-->
    
</ul>
</div>
<a class="button round view-project" href="#">view my skills</a>

